<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if erro %} {{ erro }}  {% endif %}


    {% for produto in lista %}
    <div>
            <h1>
            <a href=" {% url 'produto' produto.get_id %} ">{{produto.get_nome}}</a>
            </h1>
            <p>
                {{produto.get_descricao}}
            </p>
        </div>
        <div>
            <button onclick="deletar('{{produto.get_id}}')">Excluir</button>
        </div>
        
    {%endfor%}
    <div>
        <a href="{% url 'produto_adicionar' %}">Adicionar</a>
    </div>
</body>

<script>
    function deletar(id){
        let httpRequest = new XMLHttpRequest();
        httpRequest.open('DELETE', "{% url 'deletar_produto' id='REPLACE_ID'%}".replace("REPLACE_ID", id));
        
        
    }
</script>
</html>