<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{produto.get_nome}}</title>
</head>
<body>

    
    <div>
            <h1>
                {{produto.get_nome}}

            </h1>
            <p>
                {{produto.get_descricao}}
            </p>
            <p>
                {{produto.get_quantidade}}
            </p>
            <p>
                {{produto.get_valor}}
            </p>
        </div>

    
    
</body>
</html>